
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;

}

.pad-top {
    padding-top:40px;
}

.marketing {
    margin-top: 50px;
}

.spacer-top {
    margin-top: 10px;
}

.spacer-bottom {
    margin-bottom: 10px;
}

/* Login CSS */

#login-dropdown {
    padding: 0px;
    min-width: 250px;
}

#login-dropdown .alert {
    margin-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.navbar-inverse {
 background-color: #3686be !important;
 border-color: #3686be;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #3686be;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: transparent;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
}

.btn-primary {
	color: #fff;
	background-color: #215f8b;
	border-color: #215f8b;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}

.pad-top {
    padding-top:40px;
}

.marketing {
    margin-top: 50px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li.active>a, .navbar-inverse .navbar-nav>li.active>a:hover  {
	color: #5a5a5a;
}

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #3686be;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #3686be;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

/************************
******* DASHBOARD *******
*************************/

.dashboard .sidebar ul {
    padding: 40px 20px;
}

.dashboard .sidebar ul li:first-child {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Dashboard CSS */

.dashboard-sidebar {
    padding-bottom: 9px;
    margin-top: 40px;
}

.dashboard-sidebar > ul > li.active > a {
    text-decoration: none;
    background-color: #eee;
}

#appDetails div.modal-footer,
#appRecommendations div.modal-footer {
    border-top: 0px;
    border-bottom: 0px;
}